.btn {
  border-radius: 10px;
  border: none;
  cursor:pointer;
  color: white;
  font-size: var(--font-size-body);
  font-weight: 700;
  line-height: var(--line-height-body);
  outline: none;
  padding: 1.5rem 3.1rem;
  transition: ease-in-out 0.3s;
}

.btnDefault {
  background-color: var(--color-dark-cyan);
}

.btnDefault:hover {
  background-color: var(--color-light-cyan);
}

.btnDisabled {
  background-color: var(--color-grey);
  cursor: not-allowed;
  
}
