.howItWorks {
 padding: 8 rem 2.4rem;
 text-align: center;
}

.howItWorks h4{
  color: var(--color-grey);
  font-size: var(--font-size-heading-5);
  font-weight: bold;
  margin-bottom: 4rem;
}

.separationLine {
  display: none;
}

.howItWorksGrid {
  display: grid;
  gap: 5.6rem;
  grid-template-columns: 1fr;
  margin-bottom: 4.4rem;
}

.howItWorksGridItem h4{
  color: var(--color-dark-grey);
  line-height: var(--line-height-heading-3 );
  margin: 4rem 0;
}


.gridItemNumber {
  color: var(--color-pale-orange);
  font-size: var(--font-size-heading-1);
  font-weight: bold;
}

@media(min-width: 650px) {

  .howItWorks {
    padding: 10rem 4rem;
    text-align: left;
   }

  .howItWorksGrid {
    display: grid;
    gap: 5.6rem;
    grid-template-columns: repeat(3, 1fr);
    margin-bottom: 4.4rem;
  }

  .howItWorksGridItem > h4 {
    padding-right :  20%;
  }

    .separationLine {
      align-items: center;
      display: flex;
      justify-content: space-between;
      margin-bottom:4.8rem;
      position: relative;
      width: 70%;
    }

    .circle {
      position: relative;
      background-color: var(--color-light-cream-bg);
      border: solid 2px var(--color-dark-cyan);
      border-radius: 50%;
      height: 3.1rem;
      width: 3.1rem;
      z-index: 1;
    }

    .line {
      position: absolute;
      background: var(--color-pale-orange);
      height: 3px;
      width: 100%;
      z-index: 1;
    }
}

@media(min-width: 950px) {
  .howItWorks {
    padding: 10rem 7.4rem;
    text-align: left;
   }
}
